body{
    background:linear-gradient(#393939,#6e6e6e); 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} /* Iskomentarisi ovo u body-u prvo kad krenes uredjivat svaki segment zasebno !*/

#wrapper{
width: 80%;
margin: 6% auto;

}

header{
    color:black;
    background:linear-gradient(#6e6e6e, white);
    border-radius: 10px 50px 10px 10px;
    margin-bottom:3%;
}
a {
    color:black;
}
#sredina{
    width:97%;
    margin: 0px auto;
    background-color: grey;   
}
#caption{
 
}
/* SEARCH BAR */
#searchCat{
   
}
#searchProducts{
    text-align:center;
    width:40%;
    margin: 2%;
    padding:0.5%;
    box-shadow: 0 5px 20px rgba(50,50,93,.1),0 0.5px 5px rgba(0,0,0,.07);
    font-family: "Lato";
}
#searchProducts:hover{
    border: 2px solid rgb(184, 186, 198);
    box-shadow: 0 6px 15px rgba(50,50,93,.1),0 0.8px 5px rgba(0,0,0,.07);
    transform: translateY(1px);
}
#magnifier{
    padding: 15px;
}
/* --------------------- */

/*------- MAIN CONTENT -- PRODUCTS -----*/
main{

}
ul {
    padding: 0;
    list-style-type: none;
}


#main-list{


}
.product{
    list-style: none;
    border-radius: 10px 10px 10px 10px;
    padding:1%;
    border-style:solid;
    border-width:2px;
    width:99%;
    margin:0.5% auto;
    background:linear-gradient(#ff5a09, #f3843e);
   

}
.product p{
    margin: 0 auto;
    max-width: 100%;
}
.category{
    cursor: pointer;
    max-width: 24px;
    max-height: 24px;
    display: inline-block;
    color: white;
}
.category:hover{
    max-width: 40px;
    max-height: 40px;
}
.removeProduct{
    cursor: pointer;
    float: right;
    margin-top: 5px;
}
.removeProduct:hover{
    transform: translateY(-1px);
}
/* --------------------- */

/* ADD ELEMENT AREA */
#addElement{
    width:100%;
    text-align:right;
    margin-left:7%;
}
#addElement #submitBtn{
    
}
input {
        float: center;
        margin:1%;
        width: 100%; 
        padding: .5em 1em; 
        }
    


/*-----------------*/
#total{

}

footer{
    border-radius: 10px 10px 10px 50px;
    background:linear-gradient(#6e6e6e, white );
}
/* --------------------- */
