body{
    background:#8bb2c2; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

#wrapper{
    max-width: 960px;
    margin: 0px auto;
}

.navbar-light{
    background:ghostwhite;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
}
.nav-item{
    text-align: left;
}

a{
    color:black;
}

#mid{
    background-color: #42aea6;
}

/* SEARCH BAR */

#searchProducts{
    text-align:center;
    max-width: 80%;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 5px 20px rgba(50,50,93,.1),0 0.5px 5px rgba(0,0,0,.07);
    font-family: "Lato";
}
#searchProducts:hover{
    border: 2px solid rgb(184, 186, 198);
    box-shadow: 0 6px 15px rgba(50,50,93,.1),0 0.8px 5px rgba(0,0,0,.07);
    transform: translateY(1px);
}
#magnifier{
    padding: 10px;
    color:darkslategray;
}
/* --------------------- */

/*------- MAIN CONTENT -- PRODUCTS -----*/

ul {
    padding: 0;
    list-style-type: none;
}
.product{
    border-radius: 5px 5px 5px 5px;
    padding:1%;
    border-style:solid;
    border-width:2px;
    width:99%;
    margin:0.5% auto;
    background: ghostwhite;
    border-color: teal;
}
.product p{
    margin: 0 auto;
    max-width: 100%;
    color:darkslategrey;
}
.product p:hover{
    cursor: pointer;
}
.category{
    cursor: pointer;
    max-width: 24px;
    max-height: 24px;
    color: white;
    float:left;
}
.category:hover{
    max-width: 40px;
    max-height: 40px;
}
.removeProduct{
    cursor: pointer;
    float: right;
    color:crimson;
    margin-top: 5px;
}
.removeProduct:hover{
    transform: translateY(-3px);
}
.strike{
    text-decoration: line-through;
}
/* --------------------- */

/* ADD ELEMENT AREA */
#addElement .form-group{
    text-align: left;
}
#addElement label{
    color: darkslategray;
}
#addElement .card-body{
    background-color: ghostwhite;
}
#addElement #submitBtn{
    background-color: #42aea6;
    border-color: beige;
}
#addElement #submitBtn:hover{
    background-color:teal;
    border-color: beige;
}
/* initially remove up and down arrows from number fields in form */
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:focus {
    -moz-appearance: number-input;
}

/*-----------------*/
/* TOTAL AREA */
#total .card{
    background-color: #42aea6;
}
#total p2{
    color: white;        
}
/*-----------------*/

/* FOOTER */


footer{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 50px;
    background:ghostwhite;
}
/* --------------------- */
